---
---

.blog-post {
  margin-top: 0; /* 위쪽 여백 제거 */
  margin-bottom: 0;
  width: 300px; /* 타일의 폭을 조정할 수 있습니다. */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: inline-block; /* 인라인 블록 요소로 배치 */
}

.blog-post h2 {
  font-size: 18px;
}

.blog-post p {
  font-size: 14px;
}
